/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  
    --white-70pc: rgba(255, 255, 255, 0.7);
    --whitey-90pc: rgba(246, 246, 246, 0.9);
    --warm-gray: #bcb5b9;
    --warm-gray-50pc: rgba(188, 181, 185, 0.5);
    --warm-gray-30pc: rgba(188, 181, 185, 0.3);
    --warm-gray-10pc: rgba(188, 181, 185, 1);
    --maroon: #574751;
    --maroon-30pc: rgba(87, 71, 81, 0.3);
    --maroon-70pc: rgba(87, 71, 81, 0.7);
    --maroon-95pc: rgba(87, 71, 81, 0.95);
    --light-green: #c8cf2d;
    --peach: #fa5701;
    --peach-20pc: rgba(238, 103, 35, 0.2);
    --yellow: #fecf33;
    --orange: #f69833;
    --light-orange: #fdbd39;
    --light-orange-15pc: rgba(253, 189, 57, 0.15);
    --selection-blue: #007aff;
    --grapefruit: #ff5500;
    --teflon: #554d56;
    --gandalf: #979197;
    --light-gray: #f9fafb;
    --font-gray: #3a3a3a;
    --white: white;
    --black: black;
    --background-black: #1c1c1c;

}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  /* padding: 0 4rem; */
}
.title {
  font-size: 3vw;
  font-weight: 500;
}
.sub-title { 
  font-size: 1.5vw;
  font-weight: 500;
}

.desc {
  font-size: 1vw;
  font-weight: 400;
}
@media screen and (max-width: 416px) {
  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .sub-title { 
    font-size: 1rem;
    font-weight: 500;
  }
  
  .desc {
    font-size: 0.5rem;
    font-weight: 400;
  }
}